@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Projeto feito com .NetCore para avaliação III da Discplina de Desenvolvimento de Sistemas 2 - SENAI CIMATEC - 62168.</p>
