@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<address>
    Rua Luis Eduardo Magalhães,<br />
    Itapuã, Tel: (71) 993580614<br />

</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">felipepradobastos@gmail.com</a><br />
</address>
